<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>환영합니다</title>
    <link rel="stylesheet" href="href="{{ url_for('static', path='css/main.css) }}"">
  </head>
  <body>
    <h1>환영합니다</h1>
    <button id="welcome-button">클릭하세요</button>

    <script>
      // 버튼 클릭 시 알림창 띄우기
      document
        .getElementById("welcome-button")
        .addEventListener("click", function () {
          alert("환영합니다!");
        });
    </script>
  </body>
</html>
